body{
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
/* background-image: url(../Ims/white-concrete-wall.jpg); */
background-color: rgb(224, 223, 223);
background-size: 100%;
}

.container{
display: grid ; 
/* background-color: rgb(194, 44, 44); */
/* grid-gap: 0px; */
/* background-image: linear-gradient(rgb(129, 129, 129), rgb(206, 206, 206)); */
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: "iconos  iconos iconos"
                    "header header header"
                    "link   link   link"
                    "main   main    main"
                    "footer  footer   footer"
                    "pie     pie      pie";
}

.container>div{
    /* background-color: lightpink; */
    /* text-align: center; */
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .item1{grid-area: iconos;}
.container .item2{
    /* background-color: rgba(187, 187, 187, 0.5); */
     grid-area: header;}
.container .item3{grid-area: link;}
.container .item4{ grid-area: main;}
.container .item5{ grid-area: footer;}
.container .item6{ grid-area: pie;}

/*ICONOS BARRA NAV*/
.container .item1{
    justify-content: left;
    padding-left: 10px;}
.container .item1 .iconos {
    word-spacing: 5px;
    text-align: center;}
/*ICONOS BARRA NAV*/

/*HEADER*/
.container .item2 .header{
    
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid rgb(255, 255, 255); */
    border-width: 20px 0px 0px 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;}       

.container .item2 .header .subheader{
            display: flex;
            transform: translateY(-70px);
            flex-direction: row;
            justify-content: center;
            font-size: 20px;
        }
            
        #arq, #y, #diseño{margin: 3px; }
/*HEADER*/
 
/*LINKS*/
.container .item3{
text-decoration: underline;
padding-bottom: 30px;
word-spacing: 20px;}
#linkquienes{
    word-spacing: normal;
}
/*LINKS*/

/*IMAGENES*/
/* .container .item4{
    background-color: rgb(255, 255, 255);
    margin: 46px 0px 46px 20px;
    display: flex;
    box-shadow: -15px 15px 10px rgba(131, 131, 131, 0.7);     flex-direction: column;
    justify-content: space-between;}

    #imagenhome{
    border: rgb(255, 255, 255) solid 10px;
margin-bottom: 25px;}

#textohome{
    margin-top: 25px;
    margin-left: 2px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 170px;
    font-size: 20px;
}
#imagenquienes{
    border-radius: 50%;
    margin-top: 200px;

} */
/*IMAGENES*/

/*MAIN*/
.container .item4 .main{    
    width: 90%;
    height: 90%;
    background-color: white;
 box-shadow: -15px 15px 10px rgba(131, 131, 131, 0.7);} 
.textohome2{
    padding-left: 20%;
    padding-right: 20%;
    line-height: 20px;
height: 650px;}
.textoquienes{
    height: 800px;
    margin: 0px 30px;}
/*MAIN*/

.contquienes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgquienes{
    padding-left: 10px;
}
#imgquienes{
    border-radius: 100%;
}


/*FOOTER*/
.pie{
   background-color:  rgba(218, 183, 144, 0.5);
    display: flex;
    width: 1300px;
    flex-direction: row;
    justify-content: space-between;
    border-left: solid black 5px;}
.box1, .box2{margin: 10px;}
/*FOOTER*/

h1{   border-top: solid black 2px;}

#h2home{
    font-size: 60px;
    font-family: 'Urbanist', sans-serif;
     text-align: center;
     background-image: linear-gradient(to right,rgb(218, 183, 144), white);}  

h2{
    font-size: 60px;
    font-family: 'Urbanist', sans-serif;
     text-align: center;
     background-image: linear-gradient(to right,rgb(218, 183, 144), white);}  

h4{
    font-weight: bold;
}

/*PROYECTOS*/
.videoproyectos{margin: 0px 20px;}
.cont1proyectos{
    display: flex;
    flex-direction: column;}
.boxproyectos{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 800px;
    border-bottom: solid black 1px;}
 #boxproyectos3{
    display: flex;
    flex-direction: row;
    height: 1000px;}
.cocinaimg{
    align-items: center;}
/*PROYECTOS*/

/* REGISTRO */
.mainregistro{
    height: 900px;
}

form{
    padding: 20px;
}
/* REGISTRO */


/*PSEUDOCLASES*/
p::selection{background-color: rgb(255, 230, 197);}
a:link{text-decoration: none;  color: black;}
a:visited{color: black}
a:hover{color: rgb(187, 161, 136);}
/*PSEUDOCLASES*/

/*ANIMACION*/
/* #arq{
    color: lightgray;
    font-family: 'Urbanist', sans-serif;    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    animation-name: arq;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;}

@keyframes arq{from {color: lightgray;}to {color: black;}}

#y{
margin-bottom: auto;
margin-top: 10px;
    color: lightgray;
    font-family: 'Urbanist', sans-serif;    text-align: center;
    font-weight: bold;
    animation-name: y;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;}

@keyframes y{from {color: lightgray;}to {color: black;}}

#diseño{
    margin-top: 10px;
    color: lightgray;
    font-family: 'Urbanist', sans-serif; text-align: center;
    font-weight: bold;
    animation-name: diseño;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 3s;
    animation-fill-mode: forwards;}

@keyframes diseño{from {color: lightgray;}to {color: black;}} */
/*ANIMACION*/